html {
  -webkit-font-smoothing: antialiased;
}

body {
  padding-right: 4%;
  padding-left: 4%;
  background-color: #323232;
  font-family: Jetbrainsmono, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Campton, sans-serif;
  font-size: 54px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 33px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  line-height: 125%;
  font-weight: 500;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.43em;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 150%;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  margin-top: 48px;
  background-color: transparent;
}

.soc-btn {
  padding: 11px 10px 11px 41px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  background-image: url('../images/icons8-telegram-app.svg');
  background-position: 8px 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.soc-btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.box {
  width: 95%;
  max-width: 430px;
  margin-top: 140px;
  background-image: url('../images/pluse.svg');
  background-position: 270px 4%;
  background-repeat: no-repeat;
}

.box.section4 {
  max-width: 560px;
  margin-top: 35px;
  margin-bottom: 30px;
  background-image: none;
}

.btn {
  margin-right: 27px;
  padding: 17px 26px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn._2 {
  margin-right: 0px;
  padding: 15px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
}

.btn._2:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.head {
  min-height: 80vh;
  background-image: url('../images/2v1.svg');
  background-position: 100% 80%;
  background-size: auto;
  background-repeat: no-repeat;
}

.grd-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 54px;
  grid-row-gap: 54px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.wrap {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 340px;
  padding: 50px 15%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.s2-grid {
  padding-top: 100px;
  padding-bottom: 72px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.s3-sticky {
  padding-top: 113px;
  padding-bottom: 100px;
}

.sticky-wrap-smal-grid {
  display: -ms-grid;
  display: grid;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.inform-box {
  max-width: 610px;
  margin-bottom: 80px;
}

.inform-label {
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 150%;
  font-weight: 600;
}

.number {
  margin-right: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  line-height: 150%;
  font-weight: 600;
}

.label-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
  padding-right: 160px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-wrap {
  margin-bottom: 20px;
}

.information-paragraph {
  font-size: 17px;
  line-height: 178%;
}

.txt {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 150%;
}

.input {
  min-height: 40px;
  margin-bottom: 40px;
  padding-left: 18px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
}

.input.message {
  max-width: 100%;
  min-height: 90px;
  padding-top: 18px;
  padding-right: 18px;
}

.submtit-btn {
  padding: 16px 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  font-size: 19px;
  line-height: 125%;
  text-transform: uppercase;
}

.form-txt {
  max-width: 200px;
  margin-top: 15px;
  color: #9d9d9d;
  font-size: 8px;
  line-height: 165%;
  text-align: center;
}

.btn-wrap {
  margin-top: 38px;
}

.content-half {
  position: relative;
  z-index: 5;
}

.content-half-sticky {
  position: relative;
  z-index: 5;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  margin-bottom: 80px;
}

.link-underline {
  width: auto;
  height: 2px;
  background-color: red;
}

.link-underline.white {
  background-color: #fff;
}

.link {
  box-shadow: inset 0 -2px 0 0 #fff;
  color: #fff;
  text-decoration: none;
}

.work-box-inline {
  position: relative;
  z-index: 5;
}

.work-txt {
  margin-top: 15px;
  margin-bottom: 33px;
  font-size: 18px;
}

.link-img {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 109px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.wrap-widht {
  max-width: 678px;
}

.div-block {
  display: inline-block;
  margin-top: 13px;
}

.margin {
  margin-top: 41px;
}

.s4 {
  padding-top: 64px;
  padding-bottom: 180px;
  background-image: url('../images/nevermind.svg');
  background-position: 100% 90%;
  background-repeat: no-repeat;
}

.s3 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.s5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.email-txt {
  margin-top: 23px;
  font-family: Montserrat, sans-serif;
  line-height: 120%;
  font-weight: 500;
}

.font-witght-600 {
  font-weight: 600;
}

.form-wrap {
  padding: 65px 60px 30px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.form-wrap:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.21);
}

.form-block {
  margin-top: 80px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 410px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: transparent;
}

.nav-link {
  margin-right: 50px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.nav-link.margin-off {
  margin-right: 0px;
}

.size-hor-telephone.border {
  display: inline-block;
  margin-right: 80px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.size-p-telephone.margin {
  margin-top: 20px;
}

.img {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.left-igm {
  position: absolute;
  left: 0%;
  top: 170%;
  right: auto;
  bottom: 0%;
}

.right-ing {
  position: absolute;
  left: auto;
  top: 13%;
  right: 0%;
  bottom: 0%;
}

.right-ing._2 {
  top: 528%;
}

.blick {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.59;
  -webkit-filter: blur(150px);
  filter: blur(150px);
}

.success-message {
  padding-top: 45px;
  padding-bottom: 45px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
}

.error-msg {
  color: #fff;
  text-align: center;
}

.error-message {
  margin-top: 30px;
  padding-top: 31px;
  padding-bottom: 31px;
  background-color: #ff9191;
}

.wg-element-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wg-element-wrapper.sw12 {
  display: block;
  margin-left: 25px;
}

.wg-button-1-text-lang1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wg-button-1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 2rem;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.wg-button-1:hover {
  color: #4049ff;
}

.wg-button-1-text-lang2 {
  position: absolute;
  bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wg-button-1-lang-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wg-flag-ico {
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.wg-flag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 16px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wg-flag.v2 {
  margin-right: 1rem;
}

.eng {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .head {
    background-size: 610px;
  }

  .grd-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .sticky-wrap-smal-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .label-box {
    padding-right: 0px;
  }

  .work-box-inline {
    margin-bottom: 20px;
  }

  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .s4 {
    background-position: 100% 100%;
    background-size: 670px;
  }

  .centr-h1 {
    text-align: center;
  }

  .size-telephone {
    font-size: 52px;
  }

  .size-p-telephone {
    font-size: 23px;
  }

  .size-p-telephone.margin {
    font-size: 23px;
  }

  .left-igm {
    top: 246%;
  }
}

@media screen and (max-width: 767px) {
  .soc-btn {
    margin-right: auto;
    margin-left: auto;
  }

  .head {
    background-position: 100% 100%;
    background-size: 500px;
  }

  .sticky-wrap-smal-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .sticky {
    position: relative;
    top: 0px;
  }

  .s4 {
    background-size: 90vw;
  }

  .form-wrap {
    padding-right: 12%;
    padding-left: 12%;
  }

  .nav-menu {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .nav-link {
    margin-right: 25px;
  }

  .size-hor-telephone {
    font-size: 17px;
  }

  .size-hor-telephone.border {
    margin-right: 0px;
    font-size: 20px;
  }

  .right-ing {
    top: -14%;
  }
}

@media screen and (max-width: 479px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .box {
    position: relative;
    z-index: 5;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    background-position: 0% 10%;
    background-size: 10vw;
  }

  .btn {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .head {
    min-height: 90vh;
    background-position: 50% 100%;
    background-size: 80vw;
  }

  .wrap {
    min-height: 260px;
    padding-right: 10%;
    padding-left: 10%;
    box-shadow: 0 0 9px 0 #fff;
  }

  .s3-sticky {
    padding-bottom: 100px;
  }

  .inform-label {
    font-size: 17px;
  }

  .label-box {
    padding-right: 0px;
  }

  .information-paragraph {
    font-size: 17px;
  }

  .txt {
    font-size: 17px;
  }

  .btn-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s4 {
    padding-bottom: 30px;
    background-image: none;
  }

  .form-wrap {
    padding-right: 5%;
    padding-left: 5%;
  }

  .form {
    width: 95%;
  }

  .nav-menu {
    display: none;
  }

  .centr-h1 {
    font-size: 13vw;
    line-height: 1.2em;
  }

  .size-hor-telephone {
    text-align: center;
  }

  .size-hor-telephone.border {
    font-size: 4.2vw;
    line-height: 1.4em;
  }

  .size-telephone {
    font-size: 12vw;
    line-height: 1.2em;
    text-align: center;
  }

  .size-p-telephone {
    font-size: 16px;
  }

  .size-p-telephone.margin {
    font-size: 17px;
    text-align: center;
  }

  .left-igm {
    top: 534%;
  }

  .right-ing._2 {
    display: none;
  }

  .wg-element-wrapper.sw12 {
    margin-top: 25px;
    margin-left: 0px;
  }
}

#w-node-060aeb0086db-22433c17 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-de582d52d44e-22433c17 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-f697aad5de85-22433c17 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-3982b53bff74-22433c17 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-95af0a25df3e-22433c17 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-1a061385d441-22433c17 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-1c68f4950104-22433c17 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-b8135ee6802b-22433c17 {
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-6ed1b9344b31-22433c17 {
  -ms-grid-column-span: 2;
  grid-column-end: 7;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-95af0a25df3e-22433c17 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-1a061385d441-22433c17 {
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-1c68f4950104-22433c17 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-b8135ee6802b-22433c17 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-6ed1b9344b31-22433c17 {
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-95af0a25df3e-22433c17 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: -5;
    grid-row-end: -4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }

  #w-node-1a061385d441-22433c17 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
}

@font-face {
  font-family: 'Campton';
  src: url('../fonts/Campton-BoldDEMO.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrainsmono';
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
